@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&display=swap');

:root {
    --backgroundcolor: #FFB3B3;
    --buttonhover: #FFDBA4;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0px;
  font-family: "segoe ui";
  background-color: var(--backgroundcolor);
}


.nav {
  height: 50px;
  width: 100%;
  background-color: #ffd7d7;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 28px;
  color: rgb(11, 10, 10);
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: rgb(6, 5, 5);
}

.nav > .nav-links > a:hover {
  background-color: var(--buttonhover);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {


  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.bgimg {
  height: 100%;
  width: 40%;
  margin-left: 150px;
  border-radius: 5%;
}
.hero {
  justify-content: space-between;
}

.hero-top{
    display: flex;
}

.ten h1 {
    font-size:34px; font-weight:500; 
    margin-left: 100px;
  }

.content {
  height: 200px;
  width: 400px;
  /* background-color: var(--buttonhover); */
  font-size: 150%;
  margin-left: 100px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(87, 61, 61);
  padding: 10px;
}
.proceed {
    margin-left: 200px;
    width: 100px;
    height: 50px;
    
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: rgb(91, 59, 59);
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-2 {
    background: var(--buttonhover);
    background: linear-gradient(0deg, rgb(254, 198, 156) 0%, rgb(254, 198, 156) 100%);
    border: none;
    
  }
  .btn-2:before {
    height: 0%;
    width: 2px;
  }
  .btn-2:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(92, 85, 85, 0.4);
  }

  a {
    text-decoration: none;
    color: black;
  }